.p
{
	position: absolute;
	top: 0%;
	left: 1%;
	width: 67%;
	border: 0px solid white;
	font-family: comic sans ms;
}
.a
{
	font-size: 70px;
	font-family: algerian;
	color: pink;
	font-weight: bold;
}
.b
{
	position: absolute;
	top: 23%;
	left: 1%;
	font-size: 25px;
	font-family: comic sans ms;
	font-weight: bold;
	width: 64%;
	border: 0px solid white;
	list-style-image: url("4.png");
}
img
{
	position: absolute;
	top: 51%;
	left: 57%;
	width: 12%;
	height: 18%;
	border-radius: 50%;
}
.c
{
	position: absolute;
	top: 88%;
	left: 2%;
	font-size: 30px;
	font-weight: bold;
	font-family: comic sans ms;
}	