body
{
	text-align: center;
}
div
{
	font-family: algerian;
	font-size: 90px;
	color: yellow;
	font-weight: bold;
}
.img
{
	width: 10%;
	border: solid black;
	border-radius: 50%;
}
.ll
{
	position: absolute;
	top: 85%;
	left: 20%;
	border-radius: 50%;
	width: 10%;
}