.x
{
	width: 30%;
	height: 70%;
	position: absolute;
	top: 25%;
	left: 2%;
	border-radius: 50%;
	border: 5px solid black;
}
.y
{
	width: 30%;
	height: 70%;
	position: absolute;
	top: 25%;
	left: 67%;
	border-radius: 50%;
	border: 5px solid black;
}